@font-face {
  font-family: "iconfont"; /* Project id 4899285 */
  src: url('iconfont.woff2?t=1759600964362') format('woff2'),
       url('iconfont.ttf?t=1759600964362') format('truetype'),
       url('iconfont.svg?t=1759600964362#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-setting:before {
  content: "\e62a";
}

.icon-close1:before {
  content: "\e629";
}

.icon-fuzhi:before {
  content: "\e628";
}

.icon-biaoqing:before {
  content: "\e654";
}

.icon-rengongzhineng:before {
  content: "\e71c";
}

.icon-fengsu:before {
  content: "\e61f";
}

.icon-qiya:before {
  content: "\e620";
}

.icon-shidu:before {
  content: "\e621";
}

.icon-yuliang:before {
  content: "\e602";
}

.icon-tiwenji:before {
  content: "\e622";
}

.icon-jia:before {
  content: "\e6e8";
}

.icon-sidebarcebianlan:before {
  content: "\e6e4";
}

.icon-liaotianshi:before {
  content: "\e638";
}

.icon-github:before {
  content: "\e604";
}

.icon-arrow-right:before {
  content: "\e646";
}

.icon-Sun:before {
  content: "\ede9";
}

.icon-Search:before {
  content: "\e6a8";
}

.icon-Moon-Star:before {
  content: "\e61e";
}

.icon-list:before {
  content: "\e61b";
}

.icon-star:before {
  content: "\e62c";
}

.icon-shoucang1:before {
  content: "\e618";
}

.icon-kuoda:before {
  content: "\e612";
}

.icon-huanyuan:before {
  content: "\e615";
}

.icon-bianji:before {
  content: "\e606";
}

.icon-read:before {
  content: "\e601";
}

.icon-xiala:before {
  content: "\e65b";
}

.icon-rili1:before {
  content: "\e614";
}

.icon-paihang:before {
  content: "\e613";
}

.icon-fenxiang:before {
  content: "\e611";
}

.icon-shoucang:before {
  content: "\e616";
}

.icon-wenjian:before {
  content: "\e61d";
}

.icon-youhuiquan:before {
  content: "\e624";
}

.icon-tishi1:before {
  content: "\e619";
}

.icon-jishi:before {
  content: "\e610";
}

.icon-shu:before {
  content: "\e617";
}

.icon-tuandui:before {
  content: "\e61c";
}

.icon-xiaoxi:before {
  content: "\e623";
}

.icon-xinfeng:before {
  content: "\e626";
}

.icon-geren:before {
  content: "\e60f";
}

.icon-zhuye:before {
  content: "\e627";
}

.icon-fengli:before {
  content: "\e603";
}

.icon-gonggao:before {
  content: "\e600";
}

.icon-chexiao:before {
  content: "\e605";
}

.icon-diannao:before {
  content: "\e608";
}

.icon-dingwei:before {
  content: "\e609";
}

.icon-fenlei:before {
  content: "\e60a";
}

.icon-fenlei1:before {
  content: "\e60b";
}

.icon-guanbi:before {
  content: "\e60d";
}

.icon-tianqi:before {
  content: "\e61a";
}

.icon-zhaopian:before {
  content: "\e625";
}

.icon-biaoqian:before {
  content: "\e678";
}

.icon-rili:before {
  content: "\e60c";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-chengshi:before {
  content: "\e665";
}

.icon-friends:before {
  content: "\e666";
}

.icon-fasong:before {
  content: "\e60e";
}

.icon-kongqiwendu:before {
  content: "\ea33";
}

